/* Basis */
html, body {
  background-color: #15173D;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3, p, #main-title, #images-title {
  color: white;
}

p {
  font-size: 1rem;
}

#main-title {
  font-size: 3em;
}

/* Galerie-Container */
#images {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid black;
  width: 70vw;
  box-shadow: 5px 5px 50px black;
  padding: 1rem;
}

/* Eintrag */
#images .bild {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw;
}

/* Slider */
.slider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0.5rem 0;
}

.slides {
  width: min(90vw, 600px);
  aspect-ratio: 3 / 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid black;
  box-shadow: 5px 5px 50px black;

  background: #0f1130;   /* Balkenfarbe statt hässlich */
}

.slides img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;    /* <-- wichtig */
}

/* Nur aktives Bild zeigen */
.slides img.active {
  display: block;
}

/* Buttons */
.slider-btn {
  border: 2px solid black;
  background: #0f1130;
  color: white;
  font-size: 1.8rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  box-shadow: 3px 3px 20px black;
}

.slider-btn:active {
  transform: translateY(1px);
}

/* Optional: Buttons ausblenden wenn nur 1 Bild */
.slider.is-single .slider-btn {
  display: none;
}
